* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f6f6;
  height: 90px;
}

.logo {
  width: 150px;
  height: 70px;
  margin: 20px 20px;
}

.links {
  display: flex;
  justify-content: space-around;
  width: 48%;
  position: relative;
  left: 40em;
  top: -3.6em;
}

li {
  list-style-type: none;
}

li a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #222222;
  cursor: pointer;
}

li a:hover {
  color: rgb(6, 102, 105);
}

.nav-toggle {
  display: none;
}

@media (max-width: 1024px) {
  .links {
    left: 31em;
  }

  .nav-toggle {
    right: 2em;
  }
}

@media (max-width: 768px) {
  .links {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 20em;
    position: relative;
    left: 0em;
    transform: translateY(-113%);
    transition: transform 0.5s ease-in;
    z-index: -1;
    background-color: #d1d1d1;
    width: 100vw;
  }

  a {
    cursor: pointer;
  }
  .nav-toggle {
    display: inline;
    margin: 20px;
    position: relative;
    right: 3em;
    font-size: 20px;
    width: 35px;
    height: 28px;
    border: none;
    background-color: #d1d1d1;
    cursor: pointer;
  }
}

@media (max-width: 425px) {
  .nav-toggle {
    right: 1em;
  }
}

@media (max-width: 375px) {
  .nav-toggle {
    right: 0.5em;
  }
}

.active {
  transform: translateY(18%);
}
